#footer {
	.copyright {
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.02em;
		line-height: 1.8em;
		padding-top: 30px;
		padding-bottom: 27px;
		color: #000;

		p {
			margin-bottom: 0;
		}
	}

	.scroll-top {
		position: fixed;
		right: 30px; bottom: 30px;
	    width: 30px;
	    height: 30px;
	    line-height: 26px;
	    border: 2px solid #000;
	    color: #fff;
	    text-align: center;
	    font-size: 14px;
	    cursor: pointer;
	    visibility: hidden;
	    opacity: 0;
	    background-color: #000;
	    @include transition();

	    &.active {
	    	visibility: visible;
	    	opacity: 1;
	    }

	    &:hover {
	    	@extend .b-color-hover;
	    	@extend .bg-hover;
	    }
	}
}