.wow.fadeInUp  {
	visibility: hidden;
}

.portfolio-filter {

	.toggle-filter {
		width: 32px; height: 32px;
		position: relative;
		background-color: #000;
		margin:0 auto 0 auto;
		text-align: center;
		cursor: pointer;
		@include transition();

		span {
			height: 16px; width: 1px;
			display: block;
			position: absolute;
			left: 0; right: 0; top: 0; bottom: 0;
			margin: auto;
			background-color: #fff;
			@include transition(top 0.3s ease);
			
			&:after, &:before {
				content: '';
				height: 100%;
				display: block;
				background-color: #fff;
				width: 100%;
				position: absolute;
				top: 0;
				@include transition(left 0.3s ease);
			}

			&:before {
				left: -6px;
			}

			&:after {
				right: -6px;
			}
		}

		&.active {

			
		}

		&:hover {
			@extend .bg-hover;
		}
	}

	.ul-filter {
		display: block;
		margin: 0;
		padding: 0;
		margin-top: 30px;
		list-style: none;
		text-align: center;

		li {
			@extend .s-font;
			display: inline;
			font-style: italic;
			font-size: 12px;

			&:after {
				content: '/';
				margin: 0 16px 0 19px;
			}

			&:last-child {

				&:after {
					content: none;
				}
			}

			a {
				color: #666;
				position: relative;
				font-style: italic;
				letter-spacing: 0.05em;
				text-decoration: none;
				@include transition();

				&:after {
					content: '';
					position: absolute;
					left: 0; right: 0; bottom: -1px;
					height: 1px;
					display: block;
					opacity: 0;
					visibility: hidden;
					@extend .bg-hover;
					@include transition();
				}

				&:hover {
					@extend .c-hover;
				}
			}

			&.active {
				a {
					@extend .c-hover;

					&:after {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}

	&.active {
		@include rotate(90);
	}

	@media (max-width: 767px) {

		.ul-filter {
			display: none;
		}

		.toggle-filter {

			span {
				width: 16px; height: 1px;

				&:before {
					left: auto;
					top: -6px;
				}

				&:after {
					right: auto;
					top: auto;
					bottom: -6px;
				}
			}

			&.active {

				span {
					height: 16px; width: 1px;

					&:before {
						left: -6px;
						top: auto;
					}

					&:after {
						right: -6px;
						top: auto;
						bottom: auto;
					}
				}
			}
		}
	}
}

.portfolio-item {
	position: relative;

	a {
		color: inherit;
		text-decoration: none;
	}

	.img {
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			vertical-align: top;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
		}

		.heart {
			visibility: hidden;
			opacity: 0;
		}
	}

	.caption {

		.tb {
			width: 100%;
		}

		h2 {
			text-transform: uppercase;
			font-size: 16px;
			margin: 0;
			line-height: 1.4em;
			@include transition();
		}

		.hr {
			display: inline-block;
			width: 30px;
			height: 1px;
			background-color: #767676;
			position: relative;
			line-height: 1;
			vertical-align: middle;
			margin: 3px 0;

			&:before {
				content: '';
				width: 14px; height: 1px;
				left: 0; right: 0; bottom: -3px;
				margin: auto;
				position: absolute;
				background-color: inherit;
			}
		}

		.cat {
			font-size: 12px;
			letter-spacing: 0.1em;
			display: block;
			font-style: italic;
			@extend .s-font;
			@extend .c-title;
		}

		.arrow {
			position: relative;
			display: inline-block;
			width: 40px;
		    height: 40px;
		    border: 2px solid #000;
		    text-align: center;
		    font-size: 18px;
		    line-height: 36px;
		    @extend .c-title;
		    @include transition();
		}
	}

	.heart {
		position: absolute;
		text-align: center;
		font-size: 16px;
		text-transform: uppercase;
		z-index: 10;
		@extend .c-title;
		@extend .s-font;
		@include transition();

		i {
			display: block;
			font-size: 24px;
			color: #ea8282;
			line-height: 1;
		}

		&.active i {
			@include animation(hear_load 0.3s infinite);
		}
	}

	&:hover {
		.img {
			.heart {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

.nav-portfolio {
	overflow: hidden;
	position: relative;
	background-color: #f9f9f9;

	.nav-left, .nav-right {
		float: left;
		width: 50%;
		height: 65px;
		line-height: 63px;
		border: 1px solid #f4f4f4;
		padding: 0 30px;
		text-decoration: none;
		letter-spacing: 0.07em;
		color: #000000;
		font-size: 12px;
		font-style: italic;
		@extend .s-font;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		@include transition();

		span {
			position: relative;
			z-index: 1;
			@include transition();
		}

		&:after {
			position: absolute;
			left: 0; right: 0; bottom: 0; top: 0;
			content: '';
			background-color: rgba(#fff, 0.9);
			@include transition();
		}

		&:hover {

			&:after {
				background-color: rgba(#fff, 0.2);
			}

			span {
				background: rgba(255,255,255,.9);
			    padding: 10px 20px;
			    border-radius: 30px;
			}
		}
	}

	.nav-left { 
		margin-right: -1px;
		i {
			margin-right: 3px;
		}
	}

	.nav-right i {
		margin-left: -1px;
		margin-left: 3px;
	}

	.center-block {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 0; right: 0; bottom: 0; top: 0;
		margin: auto;
		background-color: #000;
		border-radius: 50%;
		@include transition();

		&:after, &:before,
		span:after, span:before {
			width: 7px; height: 7px;
			border: 1px solid #fff;
			content:'';
			position: absolute;
			@include transition();
		}

		&:before {
			top: 12px; left: 12px;
		}
		&:after {
			top: 12px; left: 21px;
		}

		span:before {
			top: 21px; left: 12px;
		}
		span:after {
			top: 21px; left: 21px;
		}

		&:hover {
			@extend .bg-hover;
		}
	}
}

.portfolio-content {

	iframe {
		width: 100%;
	}

	img {
		width: 100%;
		margin-bottom: 20px;
	}

	.tiled-gallery-row {
		margin-left: -20px !important;
		margin-right: -20px !important;
		margin-top: 20px !important;

		.item {
			
			.caption {
				display: none !important;
			}

			&[data-caption="on"] {
				.caption {
					display: block !important;
					z-index: 1;
					padding: 10px;
					background-color: rgba(#000, 0.5);
					@include transition();
				}
			}

			&:hover {
				&[data-caption="on"] {
					.caption {
						opacity: 1 !important;
					}
				}
				
			}
		}
	}

	.video {
		margin-bottom: 20px;
	}
}

.list-img {

	a {
		text-decoration: none;
		display: block;
		margin-bottom: 20px;

		img {
			margin-bottom: 0;
		}
	}

	img {
		width: 100%;
		vertical-align: top;
	}

	p {
		text-align: center;
		margin-bottom: 0;
		margin-top: 5px;
		@extend .c-content;
	}
}

.loadmore {
	clear: both;
	margin-top: 50px;
	
	&.scroll {
		visibility: hidden;
	}

	&.loaded { 
		visibility: visible;

		a {
			display: inline-block;
			color: transparent;
			overflow: hidden;
			width:50px; height: 50px;
			min-width: auto;
		    background-color: #000;
    		border-color: #000;
			border-radius: 100%;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				left: 0; right: 0; bottom: 0; top: 0;
				color: #fff !important;
				width: 35px; height: 35px;
				background: url('../img/loadmore.png') no-repeat center center;
				margin: auto;
				@include animation(animation_loadmore 1s linear infinite);
			}
		}
	}
}

.portfolio-info {
	padding:10px 40px 70px 40px;
	background-color: #f9f9f9;
	overflow: hidden;

	h3 {
		text-transform: uppercase;
		margin-top: 45px;
		margin-bottom: 25px;
		letter-spacing: 0.2em;

		i {
			margin-right: 5px;
		}
	}

	p {
		margin-bottom: 0;

		em {
			font-style: italic;
			@extend .s-font;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0 0 30px 0;

		li {
			padding: 3px 0;
			font-style: italic;
			@extend .s-font;

			a {
				color: inherit;
				@include transition();

				&:after {
					content: ',';
				}

				&:last-child:after {
					content: none;
				}

				&:hover {
					@extend .c-hover;
				}
			}
		}
	}

	.btn {
		display: inline-block;
		border: 1px solid rgba(#000, 0.2);
		letter-spacing: 0.15em;
		text-transform: uppercase;
		color: #000;
		font-size: 11px;
		font-weight: 600;
		border-radius: 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0 20px;
		text-align: center;
		line-height: 38px;
		min-width: 160px;
		margin-top: 30px;
		@include transition();

		&:hover {
			background-color: #000;
			border-color: #000;
			color: #fff;
		}
	}

	@media (max-width: 480px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media (max-width: 991px) {
		margin-top: 35px;
	}
}

.portfolio-isotop {

	&.caption-middle {
		text-align: center;
		
		.caption {
			padding: 20px;
			position: absolute;
			top: 0; left: -1px; right: -1px; bottom: 0;
			background-color: rgba(255,255,255,0.9);
	
			.tb {
				height: 100%;

				.tb-cell {
					vertical-align: middle;
				}
			}

			.heart {
				position: absolute;
				bottom: 20px;
				left: 0; right: 0;
				text-align: center;
			}
		}
	}

	&.caption-bottom {

		.portfolio-item {
			border-bottom: 1px solid #eee;

			&:hover {
				h2, .arrow {
					@extend .c-hover;
				}

				.arrow {
					@extend .b-color-hover;
				}

				.img:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.caption { 
			position: relative;
			padding: 18px 45px 7px 0;
			z-index: 1;

			&:before {
				content: '';
				border: 10px solid transparent;
				border-bottom-color: #fff;
				position: absolute;
				top: -20px; left: 15%;
			}
			
			.arrow {
				position: absolute;
				top: 50%; right: 0;
				@include translate(0, -50%);
			}

			.tb, .tb-cell {
				display: block;
			}

			h2, .cat {
				margin-bottom: 10px;
				text-overflow: ellipsis;
			    white-space: nowrap;
			    overflow: hidden;
			}

			.hr {
				line-height: 0;
				vertical-align: top;
			}
			
		}

		.img {

			&:after {
				position: absolute;
				top: 0; left: 0; right: 0; bottom: 0;
				background-color: rgba(255,255,255,0.7);
				content: '';
				opacity: 0;
				visibility: hidden;
				@include transition();
			}

			.heart {
				position: absolute;
				top: 15px; right: 15px; bottom: auto;
			}
		}

		&[data-arrow="true"] .caption {
			padding-right: 0;
		}

		&[data-horizontal="0"] {

			.portfolio-item {
				border-bottom-width: 0;
			}

			.caption {
				padding-right: 75px;
				padding-left: 30px;
			}

			.arrow {
				right: 30px;
			}

			&[data-arrow="true"] .caption {
				padding-right: 30px;
			}
		}

	}

	&.style1 {
		
		.grid-item, .grid-size {
			width: 25%;
			float: left;
		}

		.portfolio-item {
			
			.img {
				
				&:before {
					content: '';
					padding-top: 100%;
					display: block;
					z-index: -1;
					position: relative;
				}

				img {
					position: absolute;
					top: 50%; left: 50%;
					@include translate(-50%, -50%);
				}
			}
		}

		.squaresx2 {
			width: 50%;
		}

		.rec-hor {
			width: 50%;

			.portfolio-item .img {

				&:before {
					padding-top: 50%;	
				}
			}
		}

		.rec-ver {

			.portfolio-item .img {

				&:before {
					padding-top: 200%;	
				}
			}
		}

		@media (max-width: 991px) {
			.grid-item, .grid-size {
				width: 50%;
			}

			.rec-ver, .rec-hor {

				.portfolio-item {

					&:before {
						padding-top: 100%;
					}
				}
			}
		}

		@media (max-width: 767px) {
			.grid-item, .grid-size {
				width: 100%;
			}
		}
	}

	&.style2 {

		.portfolio-item {

			.img {

				&:before {
					content: '';
					padding-top: 100%;
					display: block;
					z-index: -1;
					position: relative;
				}

				img {
					position: absolute;
					top: 50%; left: 50%;
					@include translate(-50%, -50%);
				}
				
			}
		}
	}

	&[data-category="true"] {
		.portfolio-item .caption  .cat {
			display: none;
		}
	}

	&[data-favorite="true"] {

		.portfolio-item .heart {
			display: none;
		}
	}

	&[data-line="true"] {

		.portfolio-item .caption .hr {
			display: none;
		}
	}

	&[data-arrow="true"] {
		.portfolio-item .caption .arrow {
			display: none;
		}
	}
}

.related-project {

	.related-project-title {
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.03em;
		text-align: center;
		margin-top: 0;
		margin-bottom: 50px;
		position: relative;

		&:after, &:before {
			content: '';
			width: 30px;
			bottom: -10px;
			height: 0;
			display: block;
			left: 0; right: 0;
			margin: auto;
			position: absolute;
			border-top: 1px solid;
			border-color: inherit;
		}

		&:before {
			width: 14px;
			bottom: -13px;
		}
	}
}

@include keyframes(hear_load) {
	0 {@include scale(1)}
	100% {@include scale(1.1)}
}

@include keyframes(animation_loadmore) {
	0 {@include rotate(0)}
	100% {@include rotate(359)}
}